<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456041272630-r8iq7tqfg95ltq797dtvjm1kdq2bec31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456041272630-r8iq7tqfg95ltq797dtvjm1kdq2bec31</string>
	<key>API_KEY</key>
	<string>AIzaSyDRkAOFFaLbICCmO5k2bPcn3D0KP6WKT7A</string>
	<key>GCM_SENDER_ID</key>
	<string>456041272630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>recessdevs.Recess</string>
	<key>PROJECT_ID</key>
	<string>recess-app-3f0ec</string>
	<key>STORAGE_BUCKET</key>
	<string>recess-app-3f0ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456041272630:ios:7c8e4a4244c0f910304f97</string>
</dict>
</plist>